<!-- <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <app-image-container [images]="images"></app-image-container>
    </div>
  </ng-template>
</ngb-carousel>
<hr>
<div class="btn-group" role="group" aria-label="Carousel toggle controls">
  <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">Toggle navigation arrows</button>
  <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators" class="btn btn-outline-dark btn-sm">Toggle navigation indicators</button>
</div> -->

<div id="carouselIndicators" class="carousel slide" data-ride="carousel">

  <!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol> -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <app-image-container [image]="images[0]"></app-image-container>
      <app-image-container [image]="images[1]"></app-image-container>
      <app-image-container [image]="images[2]"></app-image-container>
      <app-image-container [image]="images[3]"></app-image-container>
    </div>
    <div class="carousel-item">
      <app-image-container [image]="images[4]"></app-image-container>
    </div>
    <div class="carousel-item">
      <app-image-container [image]="images[5]"></app-image-container>
    </div>


  </div>
  <a *ngIf="images[4]" class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a *ngIf="images[4]" class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
